
extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light
    
    h3.text-center.text-uppercase CREATE NEW LOGIN
    p.text-center (create a new gym account here)

    form#new-gym-form.my-3       
        .form-group
            label Name 
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text NAME
            input.form-control(type="text" name="new_gym_name" required)
        
            small.form-text.text-muted (enter name of the new gym to be created)
        .form-group
            label Climing Routes 
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text ROUTES
            select.form-control(name="new_gym_num_routes")
                - var n = 0;
                while n < 100
                    option= n++
        
            small.form-text.text-muted (set initial number of climbing routes in new gym)
        button.btn.btn-success.btn-block(type='submit') Submit

    form.my-3(action="/admin", method="post")
        button.btn.btn-primary.btn-block(type='submit') Back

    script
        include ../public/javascripts/new-gym-jQuery.js
