extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light

    h3.my-3.text-center.text-uppercase ADMIN DASH
    hr
    h5.text-center.my-3 Active Gyms

    if gyms.length === 0
        p.text-center.my-3 (No Gyms found in database, try adding a new one!)
    else 
        each gym in gyms
            form.my-3(action='/admin/'+gym.gym_name method='get')
                input(type="hidden" name="gym_name" value= gym.gym_name )
                input(type="hidden" name="model_name" value= gym.model_name )
                button.btn.btn-primary.btn-block.text-uppercase(type='submit')= gym.gym_name
    
    hr

    form.my-3(action='/admin-create/gym', method='get')
        button.btn.btn-success.btn-block.text-uppercase(type='submit') Add Gym Account

    form.my-3(action='/admin-delete/gym', method='post')
        button.btn.btn-danger.btn-block.text-uppercase(type='submit') Delete Gym Account

    form.my-3(action='/logout', method='get')
        button.btn.btn-primary.btn-block.text-uppercase(type='submit') logout

    hr

    form.my-3(action='/admin-create/admin', method='get')
        button.btn.btn-info.btn-block.text-uppercase(type='submit') add admin 
