extends layout-splash

//- this is the admin login page:

block content

  .card.p-5.container.text-light#splash-card
    
    h3.text-center.text-uppercase New Gym Account
    p.text-center (create a database for a new gym account here)

    form#new-gym-form.my-3      

        .form-group
            label Name 
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text NAME
            input.form-control(type="text" name="new_gym_name" required)
        
            small.form-text.text-muted (enter name of the new gym to be created)

        .form-group
            label Climing Routes 
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text ROUTES
            select.form-control(name="new_gym_num_routes")
                - var n = 0;
                while n < 100
                    option= n++
        
            small.form-text.text-muted (set initial number of climbing routes in new gym)

        hr 

        .form-group
            label Password
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text ROUTES
            input.form-control(type="password" name="new_gym_login_password" required)
        
            small.form-text.text-muted (new gym account's login password)

        .form-group
            label Confirm Password
            //- .input-group
            //-     .input-group-prepend
            //-         span.input-group-text ROUTES
            input#confirm-password.form-control(type="password" name="confirm_new_gym_login_password" required)
        
            small.form-text.text-muted (confirm login password)

        button.btn.btn-success.btn-block.text-uppercase(type='submit') Create

    form.my-3(action="/admin", method="get")
        button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back

    script
        include ../public/javascripts/new-gym-account-jQuery.js
