extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light

    h3.my-3.text-center ADMIN - GYMS
    hr
    h6.text-center Active Gyms
    each gym in gymList
        form.my-3(action='/admin/gym' + gym[4], method='get')
            button.btn.btn-primary.btn-block(type='submit')= gym
    
    hr

    form.my-3(action='/admin-create/gym', method='get')
        button.btn.btn-success.btn-block(type='submit') Add Gym

    hr

    form.my-3(action='/admin/dev-access', method='post')
        button.btn.btn-danger.btn-block(type='submit') Dev Access