extends layout-climber

block content

    .card.mx-auto#splash-card

        h3.text-light.text-center.text-uppercase #{gym_name} <br> Select Route

        hr.border.border-light

        each route in routes
            form.my-3(action='/users/' + gym_name + '/' + route.route_name method='get')
                button.btn.btn-info.btn-block.text-uppercase(type='submit')= route.route_name

        hr.border.border-light

        form.my-3(action='/users', method='get')
            button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back