extends layout-climber

block content

    .card.mx-auto#splash-card

        h3.text-light.text-center.text-uppercase Select Your Gym

        hr.border.border-light

        each gym in gyms
                form.my-3(action='/users/'+gym.gym_name method='get')
                    //- input(type="hidden" name="gym_name" value= gym.gym_name )
                    //- input(type="hidden" name="model_name" value= gym.model_name )
                    button.btn.btn-info.btn-block.text-uppercase(type='submit')= gym.gym_name

        hr.border.border-light

        form.my-3(action='/', method='get')
            button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back


    script
        //- include ../public/javascripts/climber-ui-jQuery.js
