extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light

    h3.my-3.text-center.text-uppercase DEV ACCESS
    hr
    h6.text-center.my-5 Delete Gyms
    if gyms.length === 0
        p.text-center.my-3 (No Gyms found in database)
    else 
        each gym in gyms
            form.delete-gym-form.my-3
                input(type="hidden" name="gym_name" value= gym.gym_name )
                input(type="hidden" name="model_name" value= gym.model_name )
                button.btn.btn-danger.btn-block(type='submit')= gym.gym_name
    
    hr

    form.my-3(action='/admin', method='post')
        button.btn.btn-primary.btn-block(type='submit') Back

    script
        include ../public/javascripts/delete-gym-jQuery.js