extends layout

//- this is the admin login page:

block content
    //- img.img-fluid(src='/images/climbZombie_flippedHorizontal.JPG' alt='Climber Vista')
    img.img-fluid(src='/images/climbZombie.JPG' alt='Climber Vista')