html {
  height: 100vh;
  width: 100vw;
}

#climber-page-body {

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  background-size: cover;
  background-image: 
    linear-gradient(white, 50%, transparent, 87%, black),
    url('../images/g5p13_splash.jpg'); 
  font-family: 'Kanit', sans-serif;
  background-position: center;
  background-repeat: no-repeat;


}

#scroll-sub-body {
  max-width: 100vw;
  height: 100vh;
  min-width: 90vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#splash-card {
  min-width: 50vw;
  max-width: 80vw;

  display: flex;
  flex-direction: column;
  margin: auto auto;

  padding: 5%;
  background: rgba(0,0,0,0.50);
  
}

#grade-rate-flex-box {

  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  flex-wrap: nowrap;

  max-height: 90vh;

  margin: 0vh auto;

  /* border: 3px solid yellow; */

}

#grade-rate-flex-box .card {
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  
  margin: auto 1vw;

  background: rgba(255,255,255,0.80);
}

.num-disp {
  /* border: hotpink 3px solid; */
  margin: 0 auto;
  background: radial-gradient(circle, white,transparent)
}

.back-button {
  width: 75%;
  margin: 0vh auto;
}

@media only screen
and (max-width: 500px) {
    
  #climber-page-body {
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    /* padding: 2vh auto; */
   
  }

  #scroll-sub-body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin: 2vh 0vw;
    overflow-y: scroll;

    /* border: 10px solid hotpink; */
  }

  #splash-card {
    /* min-width: 75vw; */
    max-width: 99vw;
    height: initial;

    /* margin: 5vh auto; */
    padding: 2% 2%;
    background: rgba(0,0,0,0.50);
    
  }
  
  #grade-rate-flex-box {
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    flex-wrap: inherit;
    
    position: relative;

    margin: 2vh auto;
  }

  #grade-rate-flex-box .card {
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;

    margin: 1vh auto;
  }

}
