#land-page-html {
    height: 100vh;
    width: 100vw;
}
  
#land-page-body {

    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-image: 
      linear-gradient(white, 50%, transparent, 87%, black),
      url('../images/g5p13_splash.jpg'); 
    font-family: 'Kanit', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
}

#splash-card {
    min-width: 75vw;
    padding: 5%;
    background: radial-gradient(circle at top,rgba(21,21,21,0.50), 95%, black) ;
}

#buttons-block {
    width: 33vw;

    margin: 0 auto;
}

#photo-credit {
    position: absolute;
    bottom: 3vh;
    right: 5vw;
}

#enter-text {
    font-size: 20vh;
}

@media only screen
and (max-width: 500px) {
    
    #land-page-body {
        background-size: auto;
        background-image: 
          linear-gradient(white, 50%, transparent, 87%, black),
          url('../images/g5p13_splash.jpg'); 
        background-position: center;
        font-family: 'Kanit', sans-serif;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #splash-card {
        padding: 5%;
        background: rgba(0,0,0,0.45);
    }

    #buttons-block {
        width: 70vw;
        margin: 0 auto;
    }
    
    #landing-page-text {
        font-size: 10vh;
    }

    #go-gym-table {
        display: block;
        overflow-x: scroll;
    }

}
