body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F2E7C7;
  /* border: 1px gray solid; */
}