body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Kanit', sans-serif;
}

a {
  color: #00B7FF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F2E7C7;
  /* border: 1px gray solid; */
}

#land-page-html {
  height: 100%;
}

#land-page-body {
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(white, 13%, transparent, 87%, black),
                    url('/images/climbZombie.JPG'); 
  font-family: 'Kanit', sans-serif;
}

#photo-credit {
  position: absolute;
  bottom: 3vh;
  right: 5vw;
}